<ion-header [translucent]="true" class="bg-seagreen">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title>
          BluetoothTerminal
        </ion-title>
      </ion-col>
      <ion-col size="1" style="margin-right: 0.5rem;">
        <ion-icon name="settings-outline" color="secondary" style="font-size: 1.75rem;" (click)="presentModal()"></ion-icon>
      </ion-col>
      <ion-col size="1" *ngIf="connected" style="margin-right: 0.5rem;" (click)="clearConsole();">
        <ion-icon name="trash" color="warning"  style="font-size: 1.75rem;"></ion-icon>
      </ion-col>
      <ion-col size="1" *ngIf="connected" style="margin-right: 0.5rem;" (click)="generatePdf()">
        <ion-icon name="document-text" color="success"  style="font-size: 1.75rem;"></ion-icon>
      </ion-col>
      <ion-col size="1" *ngIf="connected" style="margin-right: 0.5rem;"  (click)="disconnect()">
        <ion-icon name="flash-off" color="danger" style="font-size: 1.75rem;"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
  <!-- When connected -->
  <ion-row *ngIf="connected" class="fade-in">
    <ion-col size='12'
      class="connected-frame">
      <h2 class="white-shadowed-text"><strong>CONNECTED</strong></h2>
      <h6><strong> {{ currentDevice.name }} </strong> {{ currentDevice.address }} ( {{ currentDevice.signalStrength }})
      </h6>
      <ion-icon name="mic-circle-outline" color="light" style="font-size: 6rem;" (click)="startSpeechRecognition()"></ion-icon>
    </ion-col>
  </ion-row>


  <!-- Last message received-->
  <ion-row *ngIf="rawDataSubject | async" class="fade-in text-white">
    <ion-col size='12' class="center-shadow-box">
      <h6>Last message Received</h6>
      <div class="lbl-h4">
        <strong>{{ lastStr }}</strong>
      </div>
    </ion-col>
  </ion-row>
  <!-- Data sending form -->
  <ion-row *ngIf="connected">
    <ion-col>
      <form [formGroup]="btForm" (ngSubmit)="onSubmit()">
        <ion-row>
          <ion-col size='10'>
            <ion-input type="text" formControlName="message" name="message"
              class="terminal-input"></ion-input>
          </ion-col>
          <ion-col size='2'>
            <ion-button expand="block" color="primary" type="submit" size='medium'>
              <ion-icon name="arrow-redo-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content [fullscreen]="true" class="text-black">
  <div *ngIf="!connected" class="p1">
    <ion-button expand="block" (click)="openNativeBluettothSettings()">Search new devices</ion-button>
  </div>

  <!-- Stored bluetooth devices list-->
  <ion-row *ngIf="bluetoothDevices[0] && !connected" class="fade-in">
    <ion-col size='12'>
      <div #terminal class="overflow-scroll">
        <div *ngFor="let device of bluetoothDevices[0]"
          class="stored-device"
          (click)="connectToDevice(device.name, device.address)">
          {{ device.name }} - {{ device.address}}
        </div>
      </div>
    </ion-col>
  </ion-row>

  <!-- Log -->
  <ion-row *ngIf="rawDataSubject | async else notDataBlock" class="fade-in">
    <ion-col size='12'>
      <div #terminal class="overflow-scroll">
        <ion-textarea style="color: white;background-color: black;">
          <div *ngFor="let data of rawDataSubject | async" style="padding: 0.5rem;">
            <p style="display: inline-flex;">[{{data.timestamp | date : 'HH:mm' }}] {{data.content}}</p>
          </div>
        </ion-textarea>
        <ion-textarea>
          <div *ngFor="let data of rawDataSubject | async"
            [ngStyle]="{'background': data.type === 'RECEIVED' ? 'rgb(61, 60, 60)' : (data.type === 'SENT' ? 'orange' : null) }"
            class="log fade-in">
            <!-- <h1>{{data.id}}</h1> -->
            <ion-row>
              <ion-col>
                <p *ngIf="data.type === messageTypes.RECEIVED else elseBlock" class="fs3px">{{data.type}}
                  <ion-icon name="arrow-undo-outline" class="fs1rem">
                  </ion-icon>
                <p>
                  <ng-template #elseBlock>
                    <p class="fs3px">
                      <ion-icon name="arrow-redo-outline" class="fs1rem"></ion-icon>{{data.type}}
                    </p>
                  </ng-template>
              </ion-col>
              <ion-col size='4' class="text-right">
                <strong>{{data.timestamp | date : 'HH:mm' }}</strong>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                {{data.content}}
              </ion-col>
            </ion-row>
          </div>
        </ion-textarea>
      </div>
    </ion-col>
  </ion-row>
  <ng-template #notDataBlock>
    <div *ngIf="connected" style="text-align: center; padding-top: 40%;">
      No data received by the moment...
    </div>
  </ng-template>
  <!-- MESSAGE_TRAFFIC_COUNT: {{idx}} -->
</ion-content>
