
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}



.connected-frame{
  color:white;
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(47, 47, 51);
  padding-bottom: 1rem;
}

.bg-seagreen{
  background-color: rgb(47, 47, 51);
  background: rgb(47, 47, 51);
}

.white-shadowed-text{
  text-shadow: 2px 2px 4px #3fe2f8;
}

.center-shadow-box{
  text-align: center;
  box-shadow: 3px 3px 3px black;
}

.lbl-h4{
  background: transparent;
  height: 4rem;
}

.p1{
  padding: 1rem;
}

.stored-device{
  color: rgb(20, 20, 20);
  background: rgb(238, 234, 234);
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border: solid 0.3px lightblue;
  border-radius: 2%;
  text-align: center;
}

.log{
  color: white;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
  border: solid 0.3px lightblue;
  border-radius: 2%;
}

.fs1rem{
  font-size: 1rem;
}

.fs3px{
  font-size: 3px;
}

.text-right{
  text-align: right;
}

.terminal-input{
  background: rgb(156, 156, 158);
  border-radius: 2%;
}

.overflow-scroll{
  overflow: scroll;
}

.text-black{
  color: black;
}

.text-white{
  color: whitesmoke;
}

.my-custom-class {
  --background: #222;
}

